include README.md LICENSE pyproject.toml setup.py requirements.txt CITATION.cff
recursive-include topos *.py *.json
recursive-include scripts *.py *.txt
recursive-include examples *.json *.xyz
recursive-include tests *.py
recursive-include .docs *.md *.json
recursive-include wiki *.md
recursive-include .github/workflows *.yml
recursive-exclude * __pycache__ *.py[cod]
prune build
prune dist
prune frontend
